#plugin-log-output {
  min-height: 400px;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}

#log-output,
#docker-terminal {
  background-color: #000000;
  padding: 5px;
}

.terminal-scrollable-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #000000;

  // Ensure xterm content can be scrolled horizontally
  .xterm {
    width: max-content;
    min-width: 100%;
  }
}

.no-scrollbars,
.xterm-viewport {
  &::-webkit-scrollbar {
    display: none; // chrome
  }
  scrollbar-width: none; // firefox
  -ms-overflow-style: none; // edge
}

// https://github.com/xtermjs/xterm.js/pull/4979/files
.terminal .xterm-rows span {
  pointer-events: none;
}
